latest_version: "2.38.0"
latest_relnote_url: "https://raw.github.com/git/git/master/Documentation/RelNotes/2.38.0.txt"
latest_release_date: "2022-10-02"

sass:
  sass_dir: _sass

defaults:
  -
    scope:
      path: ""
    values:
      layout: default

collections:
  about:
    output: true
    permalink: /:collection/:name