<header>

  <a href="{{ '/' | relative_url }}"><img src="{{ 'images/logo@2x.png' | relative_url }}" width="110" height="46" alt="Git" /></a>
  <span id="tagline">
    <script>
const TAGLINES = [
  "fast-version-control",
  "everything-is-local",
  "distributed-even-if-your-workflow-isnt",
  "local-branching-on-the-cheap",
  "distributed-is-the-new-centralized"
];
document.writeln('--' + TAGLINES[Math.floor(Math.random()*TAGLINES.length)]);
    </script>
  </span>

  <form id="search" action="/search/results">
    <input id="search-text" name="search" placeholder="Search entire site..." autocomplete="off" type="text" />
  </form>
  <div id="search-results"></div>

</header>
