<div class="monitor">

  <h4> Latest source Release </h4>

  <span class="version">
    {{ site.latest_version }}
  </span>

  <a href="{{ site.latest_relnote_url }}">Release Notes</a>
  <span class="release-date">
    ({{ site.latest_release_date }})
  </span>
  <span data-mac="<%= latest_mac_installer %>" data-win="<%= latest_win_installer %>" id="installer-version"></span>

  <a href="https://www.kernel.org/pub/software/scm/git/" class="button" id="download-link">Download Source Code</a>
</div>
