<button class="sidebar-btn"></button>
<aside class="sidebar" id="sidebar">
  <nav>
    <ul>
      <li>
        <a href="{{ 'about' | relative_url }}"{% if page.section == "about" %} class="active"{% endif %}>About</a>
        <ul {% if page.section == "about" %}class="expanded"{% endif %}>
          {% assign abouts = site.about | sort: 'order'  %}
          {% for about in abouts %}
            <li>
              <a href="{{ about.url | relative_url }}" {% if page.subsection == about.subsection %} class="active"{% endif %}>{{about.subtitle}}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="{{ 'doc' | relative_url }}"{% if page.section == "documentation" %} class="active"{% endif %}>Documentation</a>
        <ul {% if page.section == "documentation" %}class="expanded"{% endif %}>
          <li>
            <a href="{{ 'docs' | relative_url }}"{% if page.subsection == "reference" %} class="active"{% endif %}>Reference</a>
          </li>
          <li>
            <a href="{{ 'book' | relative_url }}"{% if page.subsection == "book" %} class="active"{% endif %}>Book</a>
          </li>
          <li>
            <a href="{{ 'videos' | relative_url }}"{% if page.subsection == "videos" %} class="active"{% endif %}>Videos</a>
          </li>
          <li>
            <a href="{{ 'doc/ext' | relative_url }}"{% if page.subsection == "external-links" %} class="active"{% endif %}>External Links</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ 'downloads' | relative_url }}"{% if page.section == "downloads" %} class="active"{% endif %}>Downloads</a>
        <ul {% if page.section == "downloads" %}class="expanded"{% endif %}>
          <li>
            <a href="{{ 'downloads/guis' | relative_url }}"{% if page.subsection == "guis" %} class="active"{% endif %}>GUI Clients</a>
          </li>
          <li>
            <a href="{{ 'downloads/logos' | relative_url }}"{% if page.subsection == "logos" %} class="active"{% endif %}>Logos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ 'community' | relative_url }}"{% if page.section == "community" %} class="active"{% endif %}>Community</a>
      </li>
    </ul>
    {% if page.sidebar == "book" %}
      <hr class="sidebar">
      {% include shared/book.html %}
    {% endif %}
  </nav>
</aside>
