
{% assign videos = site.videos | sort: 'episode'  %}

<div class="two-column">
  <div class="column-left">
  <ul class="video-thumbnails">
    {% for video in videos %}
    {% assign group = forloop.index | modulo: 2 %}
    {% if group == 1 %}
      <li>
      <a href="{{ 'video' | relative_url }}/{{ video.link }}"><img src="{{ 'images/video' | relative_url }}/ep{{ video.episode }}.png"></a>
      <h4>
        <a href="{{ 'video' | relative_url }}/{{ video.link }}">{{ video.video_title }}</a>
      </h4>
      <p class="description">
        <strong>Length:</strong> {{ video.length }}
      </p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  </div>
  <div class="column-right">
  <ul class="video-thumbnails">
    {% for video in videos %}
    {% assign group = forloop.index | modulo: 2 %}
    {% if group == 0 %}
      <li>
      <a href="{{ 'video' | relative_url }}/{{ video.link }}"><img src="{{ 'images/video' | relative_url }}/ep{{ video.episode }}.png"></a>
      <h4>
        <a href="{{ 'video' | relative_url }}/{{ video.link }}">{{ video.video_title }}</a>
      </h4>
      <p class="description">
        <strong>Length:</strong> {{ video.length }}
      </p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  </div>
</div>