<a class="dropdown-trigger" id="reference-topics-trigger" data-panel-id="topics-dropdown" href="#">Topics ▾</a>
<div class='dropdown-panel right' id='topics-dropdown'>
  <div class='three-column'>
    <div class='column-left'>
      {% include ref/category.html category_id="setup" %}
      {% include ref/category.html category_id="projects" %}
      {% include ref/category.html category_id="snapshotting" %}
      {% include ref/category.html category_id="branching" %}
      {% include ref/category.html category_id="sharing" %}
    </div>
    <div class='column-middle'>
      {% include ref/category.html category_id="inspection" %}
      {% include ref/category.html category_id="patching" %}
      {% include ref/category.html category_id="debugging" %}
      {% include ref/category.html category_id="email" %}
      {% include ref/category.html category_id="external" %}
      {% include ref/category.html category_id="server-admin" %}
    </div>
    <div class='column-right'>
      {% include ref/category.html category_id="guides" %}
      {% include ref/category.html category_id="admin" %}
      {% include ref/category.html category_id="plumbing" %}
    </div>
  </div>
</div>
