<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49925874-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49925874-3');
  </script>

  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: "Git" }}</title>

  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>

  <link rel="stylesheet" href="/application.css">
  <script src="/modernizr.js"></script>
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/javascripts/selectivizr-min.js"></script>
  <![endif]-->

</head>

<body id="{{ page.section }}">

  <div class="inner">
    {% include shared/header.html %}
  </div> <!-- .inner -->

  {% if page.is_site_root %}
    {% include shared/masthead.html %}
    <div id="content-wrapper">
      <div class="inner">
        {{ content }}
        {% include shared/footer.html %}
      </div> <!-- .inner -->
    </div> <!-- #content-wrapper -->
  {% else %}
    <div class="inner">
      <div id="content-wrapper">
        {% include shared/sidebar.html %}
        <div id="content">
          {{ content }}
        </div>
      </div>
      {% include shared/footer.html %}
    </div>
  {% endif %}

</body>
</html>
